.layout-body { 
    display: grid;
    height:100%;
    grid: "top top" 3rem "left right" 1fr / 3fr 8fr;
    gap: 11px; 
}

.top {
    grid-area: top;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right; 
}

