@page "/fetch"
<section class="layout-body overflow-auto">
    <div class="top bg-white d-flex p-2 border-left-green ">
        <p class="align-self-center m-0">Control de Metass</p>
    </div>
    <div class="left bg-white overflow-auto  p-2">
    </div>
    <div class="right bg-white overflow-auto"><NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
        <NavMenu />
    </div>
</section>