@inherits LayoutComponentBase

<div class="layout bg-platinum">
    <div class="header bg-white">1</div>
    <div class="sidebar bg-deep-space-sparkle">2</div>
    <main class="body d-flex p-2">
        @Body
    </main>
</div>