
<div class="w-100 text-white fw-bold mb-4 mt-4 d-flex justify-content-center">
    <h5 class="fw-bold">ADMINISTRADOR</h5>
</div>
<div>
    <div class="nav-item px-3">
        <NavLink class="link-light h6 fw-bolder text-decoration-none" href="">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Control de metas
        </NavLink>
    </div>
</div>